# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/aprsfeed.pid

/logs/old
/contrib

/modules/Makefile

/libraries/openframe/Makefile
/libraries/openframe/aclocal.m4
/libraries/openframe/autom4te.cache/
/libraries/openframe/config.*
/libraries/openframe/configure
/libraries/openframe/m4/
/libraries/openframe/stamp-h?

/libraries/openstats/Makefile
/libraries/openstats/aclocal.m4
/libraries/openstats/autom4te.cache/
/libraries/openstats/config.*
/libraries/openstats/configure
/libraries/openstats/m4/
/libraries/openstats/stamp-h?


/libraries/stomp/Makefile
/libraries/stomp/aclocal.m4
/libraries/stomp/autom4te.cache/
/libraries/stomp/config.*
/libraries/stomp/configure
/libraries/stomp/m4/
/libraries/stomp/stamp-h?

/Makefile
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/m4/
/stamp-h?
.deps/
.dirstamp
*.o
*~

/Makefile
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/stamp-h?
.deps/
.dirstamp
.libs/
*.l[ao]
*~
